@import "../node_modules/bootstrap/scss/bootstrap";
@import "./assets//scss/variables";

// SCSS files
@import './assets/scss/loader.scss';

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}