:root {
    // Font colors
    --primary: #003459;
    --white: white;
    --black: black;

    // Layout
    --main-width: 1400px;
    --main-header-height: 96px;

    --margin-x: 40px 0;

    // Font sizes
    --normal: 16px;
}