.cart-page {
    width: 100%;
    display: flex;
    justify-content: center;
    background: url('/assets/imgs/cart-bg.jpg');
    background-size: cover;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }


    .cart-wrapper {
        width: var(--main-width);
        margin: var(--margin-x);
        border-radius: 12px !important;
        z-index: 99;
    }
}