.header {
    height: var(--main-header-height);
    color: var(--primary);

    .logo {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .navigation {
        display: flex;
        font-weight: bold;
        font-size: var(--normal);
        cursor: pointer;
    }

    .search {
        width: 350px;

        .search-input {
            width: 80%;

            &:focus {
                outline: none;
            }
        }
    }

    .cart-shopping {
        font-size: 20px;
        position: relative;
        cursor: pointer;

        .count-product {
            font-size: 10px;
            position: absolute;
            top: 0;
            right: 0;
        }
    }

}