.header {
    display: flex;
    align-items: center;
    background-color: var(--white) !important;

    .header-wrapper {
        width: var(--main-width);
        color: var(--primary);
        justify-content: space-between;

        .username-header {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 150px;
        }
    }
}