.header {
    display: flex;
    align-items: center;

    .header-wrapper {
        width: var(--main-width);
        color: var(--primary);

        .username-header {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100px;
        }
    }
}