.productDetails-page {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: lightgray;

    .productDetails-wrapper {
        width: 1400px;
        margin: var(--margin-x);
        border-radius: 12px !important;
    }
}