.register-page {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url('/assets/imgs/register-bg.jpeg');
    background-size: cover;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }


    .form-container {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }

    .form-wrap {
        width: 450px;
        background-color: var(--white);
        max-width: 100%;
    }

    .choose-image {
        max-width: 100px;
        max-height: 100px;
        border-radius: 50%;
        position: relative;
    }

    .image-upload-label {
        position: absolute;
        z-index: 99;
        bottom: 0;
        left: 0;
        border-radius: 50%;
    }

    .register-profile-pic {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
    }

    .upload-btn {
        color: var(--white);
        cursor: pointer;
    }

    .form-control {
        padding: 12px;
    }

    .btn {
        width: 100%;
        padding: 12px;
        background-color: #0d6efd;
        color: var(--white);
        border-color: #0d6efd;
    }

    .img-wrap {
        width: 100%;
        height: 100%;
    }

    .img-wrap img {
        width: 100%;
        object-fit: cover;
    }

    .form-floating>.form-control {
        padding: 12px;
    }

    .mb-12 {
        margin-bottom: 12px;
    }

}

// Responsive
@media only screen and (max-width: 480px) {
    .form-container {
        padding: 0 10px;
    }
}